<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Vyberte šablonu</h3>
  </div>
  <div class="card-body">
    <h4 class="text-center">Začněte vybráním šablony</h4>
    <div class="d-flex wrapper justify-content-center">
      <div *ngFor="let template of templates" class="template-container d-flex justify-content-center m-2">
        <img *ngIf="template.imagePath" src="{{template.imagePath}}" class="template-image p-2">
        <a class="align-self-end create-button mb-1" [routerLink]="['../create-name', template.id]">
          <button type="button" class="btn btn-secondary">Vybrat šablonu</button>
        </a>
      </div>
    </div>
  </div>
</div>
