<section id="hero" class="hero sticked-header-offset">
  <div id="particles-js"><canvas class="particles-js-canvas-el" width="1847" height="700" style="width: 100%; height: 100%;"></canvas></div>
  <div id="repulse-circle-div"></div>
  <div class="container position-relative">
    <div class="row gy-5 aos-init ">
      <div class="col-lg-5 dark-bg order-lg-1 d-flex flex-column justify-content-start text-left caption">
        <img data-aos="fade-up" alt="ukázka administrace" src="/assets/website/admin-screen.png" class="me-2">
      </div>
      <div class="col-lg-7 dark-bg order-lg-1 d-flex flex-column justify-content-start text-left caption">
        <h2 data-aos="fade-up" class="aos-init ">Vytvořte si vlastní <span>webové stránky</span><span class="circle aos-init " data-aos="fade-right" data-aos-delay="800">.</span></h2>
        <p data-aos="fade-up" data-aos-delay="400" class="aos-init ">Náš systému je ideální pro ty, kteří hledají rychlý, cenově dostupný a snadno použitelný způsob, jak vytvořit profesionální webové stránky, aniž by potřebovali hluboké technické znalosti.</p>
<!--        <div class="social aos-init " data-aos="fade-up" data-aos-delay="600">-->
<!--          <a href="https://zrtechsolutions.com/demo/html/technoit/"><i class="bi bi-twitter"></i></a>-->
<!--          <a href="https://zrtechsolutions.com/demo/html/technoit/"><i class="bi bi-facebook"></i></a>-->
<!--          <a href="https://zrtechsolutions.com/demo/html/technoit/"><i class="bi bi-linkedin"></i></a>-->
<!--          <a href="https://zrtechsolutions.com/demo/html/technoit/"><i class="bi bi-instagram"></i></a>-->
<!--        </div>-->
        <div class="d-flex justify-content-start">
          <a href="{{systemInfoService.getAdminHostname()}}" class="btn-get-started mr-20 aos-init " data-aos="fade-up" data-aos-delay="800">Vytvořit web</a>
          <a href="#featured" class="btn-get-started aos-init " data-aos="fade-up" data-aos-delay="1000">Zjistit více</a>
        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">
  <section>
    <div class="container" id="featured">
      <div class="section-header aos-init " data-aos="fade-up" data-aos-delay="100">
        <h2>Co je vlastně ten <span class="logo"><span class="first">Net</span><span class="second">Dropper</span></span>?</h2>
        <p>NetDropper je unikátní platforma pro snadnou tvorbu internetových stránek.
          Tento systém drag&drop umožňuje uživatelům jednoduše sestavit web pomocí přetahování prvků, jako jsou texty, obrázky nebo videa, přímo na pracovní plochu. Uživatelé si mohou vybírat z přednastavených šablon a komponent, které pak intuitivně upravují podle svých potřeb. Tento systém nevyžaduje žádné programovací znalosti a poskytuje okamžitý náhled na výsledný design. Funkcionality jako změna velikosti, barvy a rozložení prvků jsou snadno dostupné přímo v editoru. Výsledkem je rychlá a efektivní tvorba webových stránek i pro začátečníky bez znalosti jakéhokoliv programovacího jazyka.
        </p>
      </div>
    </div>
  </section>

  <div id="services" class="section">
    <div class="top-icon-box position-relative">
      <div class="container position-relative">
        <div class="row gy-4">
          <div class="section-header aos-init " data-aos="fade-up" data-aos-delay="100">
            <h2>Proč používat náš systém <span class="logo"><span class="first">Net</span><span class="second">Dropper</span></span>?</h2>
            <p>Podívejte se na výhody, které přináší náš systém na tvorbu internetových stránek:</p>
          </div>
          <div class="col-xl-4 col-md-4 aos-init " data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon pt-4">
                <fa-icon [icon]="faMobileScreen" class=""></fa-icon>
              </div>
              <h4 class="title">Responsivita</h4>
              <p>Náš sysstém automaticky optimalizuje webové stránky pro různá zařízení, což je klíčové pro moderní uživatelský zážitek</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4 aos-init " data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon pt-4">
                <fa-icon [icon]="faDisplay" class=""></fa-icon>
              </div>
              <h4 class="title">Okamžitý náhled</h4>
              <p>Systém umožňuje okamžitě vidět změny, které provádíte, což zrychluje rozhodování a ladění designu.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4 aos-init " data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon pt-4">
                <fa-icon [icon]="faGaugeHigh" class=""></fa-icon>
              </div>
              <h4 class="title">Rychlá tvorba</h4>
              <p>Díky možnosti přetahovat prvky a používat předpřipravené šablony mohou uživatelé vytvořit kompletní webové stránky během několika hodin nebo dokonce minut.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <!--End Icon Box -->


          <div class="col-xl-4 col-md-4 aos-init " data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon pt-4">
                <fa-icon [icon]="faChild" class=""></fa-icon>
              </div>
              <h4 class="title">Snadné použití</h4>
              <p>Uživatelé nepotřebují žádné technické znalosti nebo zkušenosti s kódováním. Rozhraní je intuitivní a vizuální, což umožňuje snadnou tvorbu webových stránek.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-4 col-md-4 aos-init " data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon pt-4">
                <fa-icon [icon]="faRocket" class=""></fa-icon>
              </div>
              <h4 class="title">Rychlý start</h4>
              <p>Lze začít prakticky okamžitě bez nutnosti instalovat software nebo se učit složité nástroje.</p>
            </div>
          </div>

          <div class="col-xl-4 col-md-4 aos-init " data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon pt-4">
                <fa-icon [icon]="faSackDollar"></fa-icon>
              </div>
              <h4 class="title">Žádné dodatečné náklady na vývoj</h4>
              <p>Všechny potřebné funkce a nástroje jsou zahrnuty v platformě, takže uživatelé nemusí platit za dodatečné pluginy nebo nástroje.</p>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>
  </div>
  <!-- End Service Section -->

  <!-- Featured -->
  <!-- Featured -->


  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio">
    <div class="container aos-init " data-aos="fade-up">
      <div class="section-header">
        <h2>Ukázky webů našich zákazníků</h2>
        <p>Podívejte se na některé weby, které si vytvořili sami naši zákazníci</p>
      </div>
      <div class="portfolio-isotope aos-init " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 portfolio-container" style="position: relative; height: 555.812px;">

          <div class="col-xl-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
            <div class="portfolio-wrap">
              <a href="/assets/website/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-1.jpg" class="img-fluid" alt=""></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-product" style="position: absolute; left: 380px; top: 0px;">
            <div class="portfolio-wrap">
              <a href="/assets/website/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-2.jpg" class="img-fluid" alt=""></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-branding" style="position: absolute; left: 760px; top: 0px;">
            <div class="portfolio-wrap">
              <a href="/assets/website/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-3.jpg" class="img-fluid" alt=""></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-books" style="position: absolute; left: 0px; top: 277.906px;">
            <div class="portfolio-wrap">
              <a href="/assets/website/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-4.jpg" class="img-fluid" alt=""></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 380px; top: 277.906px;">
            <div class="portfolio-wrap">
              <a href="/assets/website/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-5.jpg" class="img-fluid" alt=""></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-branding" style="position: absolute; left: 760px; top: 277.906px;">
            <div class="portfolio-wrap">
              <a href="/assets/website/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-6.jpg" class="img-fluid" alt=""></a>
            </div>
          </div><!-- End Portfolio Item -->
        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- Start Pricing Section -->
  <div class="pricing section">
    <div class="container-fluid">
      <div class="container">
        <div class="section-header">
          <h2>Pricing Plans</h2>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card text-center">
              <div class="title">
                <h2>Basic</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>25</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited GB Space</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> 30 Domain Names</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free SSL</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Daily Backup</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Templates</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Email</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> 10 Databases</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited Email Address</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Live Support</li>
                </ul>
              </div>
              <a href="https://zrtechsolutions.com/demo/html/technoit/#">Order Now</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center">
              <div class="title">
                <h2>Standard</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>50</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited GB Space</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> 30 Domain Names</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free SSL</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Daily Backup</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Templates</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Email</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> 10 Databases</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited Email Address</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Live Support</li>
                </ul>
              </div>
              <a href="https://zrtechsolutions.com/demo/html/technoit/#">Order Now</a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-center">
              <div class="title">
                <h2>Premium</h2>
              </div>
              <div class="price">
                <h4><sup>$</sup>100</h4>
              </div>
              <div class="option">
                <ul>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited GB Space</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> 30 Domain Names</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free SSL</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Daily Backup</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Templates</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Free Email</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> 10 Databases</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Unlimited Email Address</li>
                  <li><i class="bi bi-check-circle" aria-hidden="true"></i> Live Support</li>
                </ul>
              </div>
              <a href="https://zrtechsolutions.com/demo/html/technoit/#">Order Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pricing Section -->


  <!--  Testimonials Section  -->
  <section id="testimonials" class="testimonials">
    <div class="container aos-init " data-aos="fade-up">

      <div class="section-header">
        <h2>Co o nás říkají naši zákazníci:</h2>
        <p>Podívejte se na názory našich zákazníků, kteří náš systém používají</p>
      </div>

      <div class="slides-3 swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden aos-init " data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper" id="swiper-wrapper-bd23b6f0e535c686" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-2232px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 4" style="width: 372px;">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <div class="d-flex align-items-center info-box">
                <img src="/assets/website/testimonial-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                <div>
                  <h3>Pavel K.</h3>
                  <h4>Zákazník</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Tento systém je naprostá pecka! Jako někdo, kdo nemá programátorské dovednosti, jsem byl ohromen tím, jak snadno jsem mohl vytvořit profesionálně vypadající web během pár hodin. Drag&drop funkce je neuvěřitelně intuitivní a umožňuje mi plnou kontrolu nad vzhledem i funkcionalitou mého webu.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 372px;">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <div class="d-flex align-items-center info-box">
                <img src="/assets/website/testimonial-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                <div>
                  <h3>Eva M.</h3>
                  <h4>Zákazník</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Drag&drop systém mě zachránil! Potřebovala jsem rychle spustit web pro svůj nový projekt a díky tomuto nástroji jsem to zvládla bez jakéhokoliv stresu. Šablony jsou nádherné, a přestože jsem začátečník, můj web vypadá jako od profesionála.
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="3" role="group" aria-label="4 / 4" style="width: 372px;">
          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <div class="d-flex align-items-center info-box">
                <img src="/assets/website/testimonial-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                <div>
                  <h3>Tomáš V</h3>
                  <h4>Zákazník</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                Skvělý nástroj pro kohokoliv, kdo chce vytvořit web bez zdlouhavého učení kódování. Jednoduše jsem si vybral prvky, které jsem potřeboval, a během několika kliknutí jsem měl hotovo. Doporučuji všem, kdo hledají rychlé a efektivní řešení pro tvorbu webových stránek.“
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>

          <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Jan R</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Nikdy jsem si nemyslel, že bych byl schopen vytvořit si vlastní web, ale tento drag&drop systém mi to umožnil. Ovládání je neuvěřitelně jednoduché a intuitivní, což mi umožnilo dosáhnout přesně toho, co jsem chtěl. Můj web teď vypadá skvěle a funguje bezchybně!
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Martina L.</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Tento systém je doslova revoluční! Jako freelancer jsem potřebovala nástroj, který mi umožní rychle a efektivně tvořit weby pro mé klienty. Funkce drag&drop je neuvěřitelně přehledná a intuitivní, což mi šetří spoustu času. Klienti jsou spokojení a já taky.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Karlos B.</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Tento systém mi ušetřil spoustu peněz a času. Nemusím už platit drahé vývojáře ani ztrácet hodiny nad učením se složitých nástrojů. Vše, co potřebuji, mám na dosah ruky a výsledky jsou úžasné!
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="3" role="group" aria-label="4 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Petra Z.</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Jsem nadšená z toho, jak jednoduché je s tímto nástrojem pracovat. Všechny prvky jsou přesně tam, kde bych je očekávalá, a systém je neuvěřitelně flexibilní. Můj nový web je online za rekordně krátký čas a vypadá fantasticky.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->
          <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="1 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Alena H.</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Předtím jsem nikdy netvořila webové stránky, ale s tímto nástrojem jsem to zvládla na jedničku. Drag&drop funkce je intuitivní a nabízí spoustu možností, jak si přizpůsobit web podle svých představ. Teď můžu s hrdostí prezentovat svůj projekt online.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Filip J.</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Pro někoho, kdo potřebuje rychle vytvořit funkční a moderní web, je tento systém neocenitelný. Rychlost, s jakou jsem mohl svůj nápad převést do reality, je ohromující. Systém mi ušetřil hodiny práce a výsledek předčil má očekávání.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="2" role="group" aria-label="3 / 4" style="width: 372px;">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="d-flex align-items-center info-box">
                  <img src="/assets/website/testimonial-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                  <div>
                    <h3>Veronika S.</h3>
                    <h4>Zákazník</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Konečně jsem našla nástroj, který mi dává svobodu tvořit bez omezení. Drag&drop rozhraní je úžasně jednoduché na používání, a přesto nabízí ohromné množství funkcí a designových možností. Jsem nadšená z toho, jak můj nový web vypadá a funguje!
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div></div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 4" aria-current="true"></span></div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!--  Start Counter Section  -->
  <div id="stats-counter" class="call-to-action stats-counter section">
    <div class="container aos-init " data-aos="fade-up">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-4">
          <div class="stats-item d-flex flex-column align-items-center">
            <div class="icon circle"><fa-icon [icon]="faClock" class=""></fa-icon></div>
            <span><b>200+</b></span>
            <p>Hodin vývoje</p>
          </div><!-- End Stats Item -->
        </div>
        <div class="col-lg-4">
          <div class="stats-item d-flex flex-column align-items-center">
            <div class="icon circle"><fa-icon [icon]="faUser" class=""></fa-icon></div>
            <b><span>2000+</span></b>
            <p>Spokojených zákazníků</p>
          </div><!-- End Stats Item -->
        </div>
        <div class="col-lg-4">
          <div class="stats-item d-flex flex-column align-items-center">
            <div class="icon circle"><fa-icon [icon]="faTicket" class=""></fa-icon></div>
            <b><span>250+</span></b>
            <p>Zodpovězených dotazů</p>
          </div><!-- End Stats Item -->
        </div>
      </div>
    </div>
  </div>
  <!--  End Counter Section  -->

  <!--  Clients Section  -->

  <!-- End Clients Section -->


  <!--  Our Team Section  -->

  <!-- End Our Team Section -->


  <!--  Frequently Asked Questions Section  -->
  <section id="faq" class="faq">
    <div class="container aos-init " data-aos="fade-up">
      <div class="section-header">
        <h2>FAQ's</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-12">
          <div class="accordion accordion-flush aos-init " id="faqlist" data-aos="fade-up" data-aos-delay="100">
            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  What is web domain and hosting?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse show" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  Which server is best for websites linux or windows?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  Google cloud or Amazon server which one is best and fast?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                  <span class="num"><i class="bi bi-arrow-right-circle-fill"></i></span>
                  Why Organic SEO is important for all businesses?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                  magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
                  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                  exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                  autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                  vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </div>
              </div>
            </div><!-- # Faq item-->
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Frequently Asked Questions Section -->


  <!--  Call To Action Section  -->
  <section id="call-to-action" class="call-to-action">
    <div class="container text-center aos-init " data-aos="zoom-out">
      <div class="row gy-4">
        <div class="col-lg-12">
          <h3>Let's Discuss your Projects</h3>
          <p>We pride ourselves with our ability to perform and deliver results. Use the form below to discuss your project needs with our team, we will get back asap</p>
          <a class="cta-btn" href="mailto:info@example.com">Conatct Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Call To Action Section -->


  <!--  Recent Blog Posts Section  -->
  <section id="recent-posts" class="recent-posts sections-bg">
    <div class="container aos-init " data-aos="fade-up">
      <div class="section-header">
        <h2>Blogs</h2>
        <p>Lorem ipsum dolor sit amet</p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-4">
          <article>
            <div class="post-img">
              <img src="./it web template_files/blog-1.jpg" alt="" class="img-fluid">
            </div>
            <p class="post-category">Domain &amp; Hosting</p>
            <h2 class="title">
              <a href="https://zrtechsolutions.com/demo/html/technoit/blog-details.html">How to host website on any hosting provider?</a>
            </h2>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">William Bla</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Feb 1, 2022</time>
                </p>
              </div>
            </div>
          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article>
            <div class="post-img">
              <img src="./it web template_files/blog-2.jpg" alt="" class="img-fluid">
            </div>
            <p class="post-category">Advertisement</p>
            <h2 class="title">
              <a href="https://zrtechsolutions.com/demo/html/technoit/blog-details.html">How to create add on google adwords?</a>
            </h2>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">Jobi Ret</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Oct 5, 2022</time>
                </p>
              </div>
            </div>
          </article>
        </div><!-- End post list item -->

        <div class="col-lg-4">
          <article>
            <div class="post-img">
              <img src="./it web template_files/blog-3.jpg" alt="" class="img-fluid">
            </div>
            <p class="post-category">Marketing</p>
            <h2 class="title">
              <a href="https://zrtechsolutions.com/demo/html/technoit/blog-details.html">What is digital marketing and why is important?</a>
            </h2>
            <div class="d-flex align-items-center">
              <div class="post-meta">
                <p class="post-author">Main Dow</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Dec 22, 2022</time>
                </p>
              </div>
            </div>
          </article>
        </div><!-- End post list item -->

      </div><!-- End recent posts list -->

    </div>
  </section><!-- End Recent Blog Posts Section -->

  <!-- Start Contact Section -->
  <div id="contact" class="contact-section section">
    <div class="section-header">
      <h2>Contact Us</h2>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 aos-init " data-aos="fade-right">
          <div class="contact-information-box-3">
            <div class="row">
              <div class="col-lg-12">
                <div class="single-contact-info-box">
                  <div class="contact-info">
                    <h6>Address:</h6>
                    <p>11 West Town</p>
                    <p>PBo 12345, United States</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="single-contact-info-box">
                  <div class="contact-info">
                    <h6>Phone:</h6>
                    <p>+1 1234 56 789</p>
                    <p>+1 1234 56 780</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="single-contact-info-box">
                  <div class="contact-info">
                    <h6>Email:</h6>
                    <p>info&#64;example.com</p>
                    <p>email&#64;example.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 aos-init " data-aos="fade-left">
          <div class="contact-form-box contact-form contact-form-3">
            <div class="form-container-box">
              <form class="contact-form form" id="ajax-contact" method="post" action="https://zrtechsolutions.com/demo/html/technoit/assets/phpscripts/contact.php" novalidate="true">
                <div class="controls">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group form-input-box">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name*" required="required" data-error="Name is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group form-input-box">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group form-input-box">
                        <input type="text" class="form-control" name="subject" placeholder="Subject" required="required">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group form-input-box">
                        <textarea class="form-control" id="message" name="message" rows="7" placeholder="Write Your Message*" required="required" data-error="Please, leave us a message."></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" data-text="Send Message" class="disabled">Send Message</button>
                    </div>
                    <div class="messages">
                      <div class="alert alert alert-success alert-dismissable alert-dismissable hidden" id="msgSubmit"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> Thank You! your message has been sent. </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Section -->


</main>
