<div class="row">
  <div class="col-md-12 text-right">
    <button class="preview-builder" (click)="preview()" mat-raised-button color="primary"><i class="material-icons">preview</i>Náhled
    </button>
    <button class="save-builder ml-1" (click)="save()" mat-raised-button color="primary"><i class="material-icons">save</i>Uložit
    </button>
    <button class="public-builder ml-1" (click)="save(true)" mat-raised-button color="primary"><i class="material-icons">public</i>Publikovat
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <app-menu-builder></app-menu-builder>
  </div>
  <div class="col-md-10">
    <app-palette-builder [pageDetail]="pageDetail"></app-palette-builder>
  </div>
<!--  {{namePlugin}}-->
</div>





