.save-builder{
  position: absolute;
  top: 74px;
  right: 19px;
}

.preview-builder{
  position: absolute;
  top: 74px;
  right: 120px;
}

.global-plugin-selector {
  border-bottom: 1px solid black;
}

.add-global-plugin {
  position: absolute;
  float: right;
  bottom: 5px;
  right: 5px;
  line-height: 20px;
}
