<!--<div class="global-plugin-selector">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12 text-right">-->
<!--      <div>-->
<!--        Vyberte plugin:-->
<!--        <select (change)="initSettingsFromSelect($event.target.value)">-->
<!--          <option [value]="">&#45;&#45;Nevybráno&#45;&#45;</option>-->
<!--          <option [selected]="plugin.id === miniAdmin.settings?.id" [value]="plugin.id" *ngFor="let plugin of globalPlugins">{{plugin.name}}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-mini-admin [setInitParams]="miniAdminParams"></app-mini-admin>
<!--<button mat-raised-button color="primary" class="add-global-plugin"><i class="material-icons">add</i>Uložit jako nový plugin</button>-->
