{% extends "email/base_email.html.twig" %}
{% block title %}
    Aktivace nového účtu
{% endblock %}
{% block content_text %}
    Aktivaci nového účtu provedete kliknutím na následující odkaz <a href="{{link}}">zde</a>
{% endblock %}