{% extends "email/base_email.html.twig" %}
{% block title %}
    Odkaz na obnovu hesla
{% endblock %}
{% block content_text %}
    Vaše heslo můžete obnovit na tomto odkazu <a href="{{link}}">zde</a>
{% endblock %}