<div class="block">
  <div class="block-menu">
    <i class="fas fa-arrows-alt handle"></i>
  </div>
  <div #palette_content class="block-content grid-stack">
    <app-palette-item class="grid-stack-item" [gridStackNode]="gridNode" *ngFor="let gridNode of gridNodes"
                      [attr.data-gs-x]="gridNode.x"
                      [attr.data-gs-y]="gridNode.y" [attr.data-gs-width]="gridNode.width"
                      [attr.data-gs-height]="gridNode.height"
    ></app-palette-item>
  </div>
</div>
