<div class="block">
  <div class="block-menu">
    <i class="fas fa-arrows-alt handle"></i>
  </div>
<!--  <div #palette_content class="block-content grid-stack" [class.dragging-item-bottom]="draggingItemBottom">-->
<!--    <app-grid-item class="grid-stack-item" [gridItemConfig]="gridNode" *ngFor="let gridNode of pageBlock.paletteGridItems; trackBy: trackByGridItem"></app-grid-item>-->
<!--  </div>-->
  <div class="block-content-rows container" [sortablejs]="rows" [sortablejsOptions]="{group: {name: 'block', put: ['menu-row']}, handle: '.move-row', onStart: onDragStart, onEnd: onDragEnd}">
    <div *ngFor="let row of rows; index as i">
      <app-animation-hider [show]="i===hoverOnIndexRow || i===hoverOnIndexRow+1" class="hider-new-row-button">
        <div class="new-row-up">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="new-row-input-button" [matMenuTriggerData]="{index: i}">
            <mat-icon class="add-icon-row-up">add_circle</mat-icon>
          </button>
        </div>
      </app-animation-hider>
      <app-grid-row (removeRow$)="removeRow(i)" class="row" [row]="row" (mouseenter)="hoverOnIndexRow=i"></app-grid-row>
    </div>
  </div>
  <div class="text-center line">
    <div class="links">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="new-row-input-button">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-index="index">
    <app-menu-new-row (numColumns)="addRow($event, index)"></app-menu-new-row>
  </ng-template>
</mat-menu>
