:host.row:hover {
  outline:  dotted 0 transparent;
  transition: outline 0.3s linear;
  outline-width: 1px;
  outline-color: black;
}

:host.row:not(:has(.cell-item)) {
  min-height: 100px;
  outline-width: 1px;
  outline-color: black;
}

:host.row {
  margin-bottom: 1rem;
}

:host.row:hover ::ng-deep .delimiter-line {
  border-right: 1px solid red;
  width: 0.5px;
  margin: 0 auto;
  height: 100%;
}

app-grid-cell {
  position: relative;
}

:host.row {
  min-height: 20px;
}


