<app-grid-cell [cell]="cell"
               [isLast]="last"
               [isFirst]="first"
               *ngFor="let cell of row.cells; let last = last;let first = first;index as i; trackBy: trackByCell"
               (resized$)="onCellResized($event, i)"
               class="col-md-{{cell.width}}"
               [class.resized]="isResized"
               [isMouseEnterRow]=isMouseEnter
               (addCell$)="addNewCell(i, $event)"
               (removeCell$)="removeCell(i, $event)"
               [isDeepChild]="isDeepChild"
>
</app-grid-cell>

<app-animation-hider [show] = "isMouseEnter" class="move-icon-row-container" *ngIf="!isDeepChild">
  <div class="row-menu">
    <div class="frameCover">
      <div matTooltip="Nastavení buňek" class="btn draganddrop menu-row">
        <strong>Buňky</strong>
      </div>
      <div matTooltip="Přesunout" class="btn draganddrop move-row">
        <i class="material-icons icon-move-cell-item">open_with</i>
      </div>
      <div matTooltip="Smazat" class="btn draganddrop" (click)="removeRow$.emit(true)">
        <i class="material-icons icon-remove">delete</i>
      </div>
    </div>
  </div>
</app-animation-hider>
