<div [sortablejs]="items" [sortablejsOptions]="{swapThreshold: 0.5,group: {name: 'cell', pull: true, put: ['menu-row', 'menu-plugin', 'cell', 'cell2']}}"
>
  <div style="border: 1px solid black; padding: 0px" class="srt-item">Asd</div>
  <div style="border: 1px solid black; padding: 0px" class="srt-item">kkk <br>kkk <br>kkk <br>kkk <br>kkk <br>kkk <br>kkk <br>kkk <br>kkk <br></div>
  <div style="border: 1px solid black; padding: 0px" class="srt-item">Asd</div>
  <div class="srt2" style="border: 1px solid black; padding: 30px">
    <div class="cont2" [sortablejs]="items2" style="height: 60px;" [sortablejsOptions]="{disabled: true,group: {name: 'cell2', pull: true, put: ['menu-row', 'menu-plugin', 'cell']}}" >
<!--      <div class="srt-item">-->
<!--      </div>-->
    </div>
<!--    <div class="handle">X</div>-->
  </div>
</div>
