:host {
  z-index: -1;
}

.palette-block > li > img{
  width: 100%;
  height: 100px;
  margin-bottom: 1px;
}

.palette-item
{
  padding: 0px;
}

.palette-block.resized
{
  cursor: row-resize;
}

::ng-deep.palette .palette-block > .sortable-ghost
{
  width: 100%;
  height: 50px;
  margin-bottom: 1px;
  background-color: black;
}

::ng-deep.palette .palette-block > .sortable-ghost  *
{
  display: none;
}

::ng-deep.menu-block-dragged app-animation-hider {
  display: none;
}
::ng-deep.menu-block-dragged .line,  ::ng-deep.block-dragged .line{
  display: none;
}

::ng-deep.menu-element-item.sortable-ghost, ::ng-deep.menu-element-cells.sortable-ghost
{
  color: white !important;
  margin: 0 auto;
  mix-blend-mode: difference;
}
