<div class="card card-outline"
     [class.menu-block-dragged] = "menuBlocDragged"
     [class.block-dragged] = "dragStatusService.isDragBlock"
     [class.plugin-dragged] = "dragStatusService.isDragPlugin"
     [class.menu-plugin-dragged] = "dragStatusService.isDragMenuPlugin"
>
  <div class="card-header">
    <div class="card-title">Editační plátno</div>
  </div>
  <div class="card-body palette" [class.sortable-js-dragged]="dragStatusService.isDraggedResizedPlugin()">
    <ul
      class="palette-block list-group listing-area clearfix root-page"
      [class.dragged]="dragStatusService.isDragBlock"
      [class.resized]="isResized"
      #palette
      [nxtSortablejs]="pageDetail.pageBlockAssignments"
      [config]="{ group: 'block', handle: '.icon-move-block',animation: 0 }">
      <li (dragstart)="dragStatusService.isDragBlock = true" (dragend)="dragStatusService.isDragBlock = false" class="list-group-item palette-item" *ngFor="let item of pageDetail.pageBlockAssignments; trackBy: trackByBlock;index as i;">
        <app-palette-block (deleteBlock)="deleteBlock(i)" [pageBlockAssignment]="item" (resized)="isResized=$event"></app-palette-block>
      </li>
    </ul>
  </div>
</div>
