<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Editační plátno</h3>
  </div> <!-- /.card-body -->
  <div class="card-body palette">

    <ul
      class="palette-block list-group listing-area clearfix"
      appSmartPageScroll
      [sortablejs]="baseBlocks"
      [sortablejsOptions]="{ group: 'shared', scroll: false }">
      <li class="list-group-item palette-item" *ngFor="let item of baseBlocks">
        <p>gegegeg</p>
      </li>
    </ul>


  </div><!-- /.card-body -->
</div>
