<div class="breadcrumbs sticked-header-offset">
  <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>Ukázky vytvořených <span class="">webů</span></h2>
          <p>Podívejte se ukázky vytvořených <span>webů</span> našimi spokojenými zákazníky</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Breadcrumbs -->

<main id="main">

  <div class="single-page">
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio">
      <div class="container aos-init " data-aos="fade-up">
        <div class="section-header">
          <h2>Ukázky vytvořených webů</h2>
          <p>Zde naleznete ukázky několika webů, které jsou vytvořené v našem systému <span class="logo"><span class="first">Net</span><span class="second-black">Dropper</span></span>.
          I vy si můžete vytvořit vlastní web tak neváhejte.
            <a href="{{systemInfoService.getAdminHostname()}}" class="btn-get-started mr-20 aos-init mt-2" data-aos="fade-up" data-aos-delay="800">Vytvořit web</a>
          </p>
        </div>
        <div class="portfolio-isotope aos-init " data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4 portfolio-container" style="position: relative; height: 555.812px;">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 0px; top: 0px;">
              <div class="portfolio-wrap">
                <a href="/assets/website/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-1.jpg" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product" style="position: absolute; left: 380px; top: 0px;">
              <div class="portfolio-wrap">
                <a href="/assets/website/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-2.jpg" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding" style="position: absolute; left: 760px; top: 0px;">
              <div class="portfolio-wrap">
                <a href="/assets/website/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-3.jpg" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books" style="position: absolute; left: 0px; top: 277.906px;">
              <div class="portfolio-wrap">
                <a href="/assets/website/product-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-4.jpg" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app" style="position: absolute; left: 380px; top: 277.906px;">
              <div class="portfolio-wrap">
                <a href="/assets/website/product-5.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-5.jpg" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding" style="position: absolute; left: 760px; top: 277.906px;">
              <div class="portfolio-wrap">
                <a href="/assets/website/product-6.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="/assets/website/product-6.jpg" class="img-fluid" alt=""></a>
              </div>
            </div><!-- End Portfolio Item -->
          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->
  </div>

</main>
