<div class="wrapper">
  <app-hidder [showOn]="symfonyApiCallEvent.startSendLogin" [hideOn]="symfonyApiCallEvent.stopSendLogin">
    <mat-progress-bar class="progres-line" mode="indeterminate"></mat-progress-bar>
  </app-hidder>
  <!-- Sidebar -->
  <div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">

        <a href="/" class="logo">
          <img src="/assets/website/netdropper.png" alt="navbar brand" class="navbar-brand" width="171">
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>

      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/admin', webDetailResolverService.selectedId]" routerLinkActive="active" (click)="title.setTitle('Úvodní stránka')"
               [routerLinkActiveOptions]="{exact: true}" class="nav-link">
              <fa-icon [icon]="faHouseCrack" class="nav-icon"></fa-icon>
              <p>
                Přehled webů
              </p>
            </a>
          </li>
          <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
            <h4 class="text-section">Správa</h4>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="page/list" routerLinkActive="active" class="nav-link">
              <fa-icon [icon]="faFileCode" class="nav-icon"></fa-icon>
              <p>
                Moje stránky
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="plugin/list-available" routerLinkActive="active" class="nav-link" (click)="title.setTitle('Seznam pluginů')">
              <fa-icon [icon]="faPuzzlePiece" class="nav-icon"></fa-icon>
              <p>
                Seznam pluginů
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="file" routerLinkActive="active" class="nav-link" (click)="title.setTitle('Soubory')">
              <fa-icon [icon]="faFolder" class="nav-icon"></fa-icon>
              <p>
                Soubory
              </p>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="web/list" routerLinkActive="active" class="nav-link" (click)="title.setTitle('Správa webů')">
              <fa-icon [icon]="faGlobe" class="nav-icon"></fa-icon>
              <p>
                Správa webů
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="main-panel">
    <div class="main-header">
      <div class="main-header-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">

          <a href="/" class="logo">
            <img src="/assets/website/netdropper.png" alt="navbar brand" class="navbar-brand" width="170">
          </a>
          <div class="nav-toggle">
            <button class="btn btn-toggle toggle-sidebar">
              <i class="gg-menu-right"></i>
            </button>
            <button class="btn btn-toggle sidenav-toggler">
              <i class="gg-menu-left"></i>
            </button>
          </div>
          <button class="topbar-toggler more">
            <i class="gg-more-vertical-alt"></i>
          </button>

        </div>
        <!-- End Logo Header -->
      </div>
      <!-- Navbar Header -->
      <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">

        <div class="container-fluid">
          <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
            <li class="nav-item topbar-icon dropdown hidden-caret">
              <div>Spravujete web: <b>{{webDetailResolverService.webDetail.name}}</b> </div>
            </li>
            <li class="nav-item topbar-icon dropdown hidden-caret">
              <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                <i class="fa fa-bell"></i>-->
                <fa-icon [icon]="faBell" class="nav-icon"></fa-icon>
<!--                <span class="notification">4</span>-->
              </a>
              <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                <li>
                  <div class="dropdown-title">Nemáte žádné notifikace</div>
                </li>
                <!--									<li>-->
                <!--										<div class="notif-scroll scrollbar-outer">-->
                <!--											<div class="notif-center">-->
                <!--												<a href="#">-->
                <!--													<div class="notif-icon notif-primary"> <i class="fa fa-user-plus"></i> </div>-->
                <!--													<div class="notif-content">-->
                <!--														<span class="block">-->
                <!--															New user registered-->
                <!--														</span>-->
                <!--														<span class="time">5 minutes ago</span> -->
                <!--													</div>-->
                <!--												</a>-->
                <!--												<a href="#">-->
                <!--													<div class="notif-icon notif-success"> <i class="fa fa-comment"></i> </div>-->
                <!--													<div class="notif-content">-->
                <!--														<span class="block">-->
                <!--															Rahmad commented on Admin-->
                <!--														</span>-->
                <!--														<span class="time">12 minutes ago</span> -->
                <!--													</div>-->
                <!--												</a>-->
                <!--												<a href="#">-->
                <!--													<div class="notif-img"> -->
                <!--														<img src="assets/img/profile2.jpg" alt="Img Profile">-->
                <!--													</div>-->
                <!--													<div class="notif-content">-->
                <!--														<span class="block">-->
                <!--															Reza send messages to you-->
                <!--														</span>-->
                <!--														<span class="time">12 minutes ago</span> -->
                <!--													</div>-->
                <!--												</a>-->
                <!--												<a href="#">-->
                <!--													<div class="notif-icon notif-danger"> <i class="fa fa-heart"></i> </div>-->
                <!--													<div class="notif-content">-->
                <!--														<span class="block">-->
                <!--															Farrah liked Admin-->
                <!--														</span>-->
                <!--														<span class="time">17 minutes ago</span> -->
                <!--													</div>-->
                <!--												</a>-->
                <!--											</div>-->
                <!--										</div>-->
                <!--									</li>-->
<!--                <li>-->
<!--                  <a class="see-all text-center" href="javascript:void(0);">Zobrazit všechny notifikace</a>-->
<!--                </li>-->
              </ul>
            </li>
            <li class="nav-item topbar-user dropdown hidden-caret">
              <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                <div class="avatar-sm">
                  <fa-icon [icon]="faUserCircle" class="nav-icon avatar-img rounded avatar-img rounded-circle"></fa-icon>
                </div>
                <span class="profile-username">
										<span class="op-7">Ahoj, </span> <span class="fw-bold">{{userService.settings.fullName}}</span>
									</span>
              </a>
              <ul class="dropdown-menu dropdown-user animated fadeIn">
                <div class="dropdown-user-scroll scrollbar-outer">
                  <li>
                    <div class="user-box">
                      <div class="u-text">
                        <h4>{{userService.settings.fullName}}</h4>
                        <p class="text-muted">{{userService.settings.email}}</p>
<!--                        <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>-->
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
<!--                    <a class="dropdown-item" href="#">My Profile</a>-->
<!--                    <div class="dropdown-divider"></div>-->
                    <a (click)="logout()" class="dropdown-item" href="#">Odhlásit</a>
                  </li>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>

    <div class="container">
      <div class="page-inner">
        <!--					<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">-->
        <!--						<div>-->
        <!--							<h3 class="fw-bold mb-3">Dashboard</h3>-->
        <!--							<h6 class="op-7 mb-2">Free Bootstrap 5 Admin Dashboard</h6>-->
        <!--						</div>-->
        <!--					</div>-->
        <router-outlet></router-outlet>

      </div>
    </div>

    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="http://www.themekita.com">
                ThemeKita
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Help
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright ms-auto">
          2024, vytvořeno pro snadnou tvorbu webů <i class="fa fa-heart heart text-danger"></i>
        </div>
      </div>
    </footer>
  </div>

</div>
