<div class="card card-outline">
  <div class="card-header">
    <div class="card-title">Rychlý přehled</div>
  </div> <!-- /.card-body -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <p class="ps-1">Vytvořené weby:</p>
        <div class="example-container">
          <div class="example-table-container">
            @if(!isLoadingResults) {
              <table mat-table [dataSource]="data" class="example-table">
                <ng-container matColumnDef="web">
                  <th mat-header-cell *matHeaderCellDef>Název</th>
                  <td mat-cell *matCellDef="let row"><b>{{ row.name }}</b></td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                  <th mat-header-cell *matHeaderCellDef>Vytvořeno</th>
                  <td mat-cell *matCellDef="let row">{{row.createdAt}}</td>
                </ng-container>
                <ng-container matColumnDef="pagesCount">
                  <th mat-header-cell *matHeaderCellDef>Počet stránek</th>
                  <td mat-cell *matCellDef="let row">{{row.pagesCount}}</td>
                </ng-container>
                <ng-container matColumnDef="public">
                  <th mat-header-cell *matHeaderCellDef>Publikováno</th>
                  <td mat-cell *matCellDef="let row">{{row.public ? 'Ano' : 'Ne'}}</td>
                </ng-container>
                <ng-container matColumnDef="domain">
                  <th mat-header-cell *matHeaderCellDef>Doména</th>
                  <td mat-cell *matCellDef="let row">{{row.domain}}</td>
                </ng-container>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Spravujete</th>
                  <td mat-cell *matCellDef="let row">
                    @if (webDetailResolverService.selectedId == row.id)
                    {
                      <fa-icon style="color:#EAC452;" [icon]="faCircleCheck" class="nav-icon"></fa-icon>
                    }
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            }
          </div>
        </div>
        <div class="ps-3 mt-2">
          <div><a [routerLink]="['./web/list']">Správa webů</a></div>
        </div>
      </div>
      <div class="col-md-4">
        <p class="ps-1 text-center">Využití disku:</p>
          <div class="text-center" style="width:200px; margin: 0 auto;">
            <p-chart type="pie" [data]="chartData" [options]="chartOptions" />
          </div>
      </div>
    </div>
  </div><!-- /.card-body -->
</div>



