<div class="cell-item" [class.is-row]="gridCellItem.row" [class.move-menu-hover]="isMoveMenuHover" [style]="getVerticalPadding()">
  <ng-container #content class="grid-cell-item-content">
  </ng-container>
  <app-grid-row class="row is-child"  [isDeepChild]="true" [row]="gridCellItem.row" *ngIf="gridCellItem.row"></app-grid-row>

  <app-animation-hider [show] = "showMoveIcon" class="move-icon-cell-item-container" (mouseenter)="isMoveMenuHover=true" (mouseleave)="isMoveMenuHover=false">
    <div class="plugin-move-menu" [class.is-last]="isLast">
      <div class="frameCover">
        <div class="btn draganddrop menu-cell-item">
          <strong>{{gridCellItem.row ? 'Vnořená řádka' : 'Prvek'}}</strong>
        </div>
        <div class="btn draganddrop" (click)="openSettings()" *ngIf="!gridCellItem.row">
          <i class="material-icons icon-settings">settings</i>
        </div>
        <div class="btn draganddrop icon-move-cell">
          <i class="material-icons icon-move-cell-item">open_with</i>
        </div>
        <div class="btn draganddrop" (click)="delete()">
          <i class="material-icons icon-remove">delete</i>
        </div>
      </div>
    </div>
  </app-animation-hider>
</div>
