:host:hover, ::ng-deep .sortable-js-dragged app-grid-cell-item{
  outline:  dotted 0 transparent;
  transition: outline 0.3s linear;
  outline-width: 1px;
  outline-color: green;
}

:host {
  display: block;
  position: relative;
}

.plugin-move-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  padding-bottom: 10px;
}

.cell-item.is-row > app-animation-hider .plugin-move-menu {
  top: -2px;
  right: 0px;
  left: initial;
  text-align: right;
}

.cell-item:not(.is-row ) {
  padding-bottom: 15px;
}

.menu-cell-item {
  width: auto !important;
  padding: 3px !important;
  color: white;
}

::ng-deep.is-child .plugin-move-menu.is-last {
  top: 24px;
}
