:host:hover, ::ng-deep .sortable-js-dragged app-grid-cell-item{
  outline:  dotted 0 transparent;
  transition: outline 0.3s linear;
  outline-width: 1px;
  outline-color: green;
}

:host {
  display: block;
  position: relative;
}

.plugin-move-menu {
  width: 153px;
  position: absolute;
  top: 11px;
  right: 0px;
  z-index: 1;
  text-align: right;
  padding-bottom: 10px;
}

.cell-item.is-row > app-animation-hider .plugin-move-menu {
  top: -27px;
  left: 0px;
  text-align: left;
}

.frameCover div.btn {
  background-color: #262b33;
  border-radius: 0;
  border: 1px solid #d6d6d6;
  font-size: 12px;
  height: 25px;
  margin-right: 1px;
  outline: 1px solid #000000;
  position: relative;
  top: 1px;
  width: 25px;
  padding: 0;
}

.frameCover div.btn i {
  color: white;
  display: block;
  font-size: 18px;
  position: relative !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.move-menu-hover {
  outline:  solid 0 transparent;
  transition: none;
  outline-color: red !important;
  outline-width: 2px !important;
  position: relative;
  z-index: 1;
}
