<form [formGroup]="loginForm">
  <div appFormError class="form-group">
    <div #errorFormContainer class="input-group">
      <input type="email" class="form-control" placeholder="Email" formControlName="email">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
  </div>
  <div appFormError class="form-group">
    <div #errorFormContainer class="input-group">
      <input type="password" class="form-control" placeholder="Heslo" formControlName="password">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- /.col -->
    <div class="col-4 offset-md-8">
      <button type="submit" class="btn btn-primary btn-block">Přihlásit</button>
    </div>
    <!-- /.col -->
  </div>
</form>
