.user-menu>a {
  position: relative;
  display: block;
  padding: 7px 15px;
}

.user-menu>.dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}

.progres-line {
  z-index: 9999;
  position: fixed;
}

:host ::ng-deep .mat-form-field-infix {
  border-top: .0em solid black !important;
}

:host ::ng-deep .cdk-overlay-pane {
  z-index: 2000 !important;
}

