<div class="block" [style]="getStyles()" [style.background-image]="pageBlock.backgroundImage ? 'url(' + pageBlock.backgroundImage + ')' : ''" [style.background-color]="pageBlock.backgroundColor" [class.move-menu-hover]="isMoveMenuHover" (mouseleave)="hoverOnIndexRow=null">
  <div #video class="video-container" *ngIf="videoUrl" [style.filter]="'grayscale('+pageBlock.grayScale+'%)'" [style.opacity]="pageBlock.opacity/10">
    <div [attr.data-vbg]="videoUrl"></div>
  </div>
  <div class="block-content-rows container" [style.height.px]="!pageBlock.rows.length ? pageBlock.height : null" [nxtSortablejs]="pageBlock.rows" [config]="{group: {name: 'rows', put: ['rows']}, handle: '.move-row', onStart: onDragStart, onEnd: onDragEnd}">
    <div *ngFor="let row of pageBlock.rows; index as i; trackBy: trackByRows">
      <app-animation-hider [show]="i===hoverOnIndexRow || i===hoverOnIndexRow" class="hider-new-row-button">
        <div class="new-row-up">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="new-row-input-button" [matMenuTriggerData]="{index: i}">
            <mat-icon class="add-icon-row-up">add_circle</mat-icon>
          </button>
        </div>
      </app-animation-hider>
      <app-grid-row (removeRow$)="removeRow(i)" class="row" [row]="row" (mouseenter)="hoverOnIndexRow=i"></app-grid-row>
      <app-animation-hider [show]="i===hoverOnIndexRow || i===hoverOnIndexRow" class="hider-new-row-button">
        <div class="text-center">
          <div class="links new-row-bottom">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="new-row-input-button" [matMenuTriggerData]="{index: i+1}">
              <mat-icon class="add-icon-row-up">add_circle</mat-icon>
            </button>
          </div>
        </div>
      </app-animation-hider>
    </div>
    <div class="text-center" *ngIf="!pageBlock.rows.length">
      <div class="new-row-center">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="new-row-input-button empty" [matMenuTriggerData]="{index: 0}">
          <mat-icon class="add-icon-row-up">add_circle</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-animation-hider [show]="showMoveIcon" class="" (mouseenter)="isMoveMenuHover=true" (mouseleave)="isMoveMenuHover=false">
  <div class="block-move-menu">
    <div class="frameCover">
      <div matTooltip="Nastavení Bloku" class="btn draganddrop block-menu-label">
        <strong>Blok</strong>
      </div>
      <div class="btn draganddrop" (click)="openSettings()">
        <i class="material-icons icon-settings">settings</i>
      </div>
      <div class="btn draganddrop icon-move-block">
        <i class="material-icons icon-move-block">open_with</i>
      </div>
      <div class="btn draganddrop" (click)="deleteBlock.emit(true)">
        <i class="material-icons icon-remove">delete</i>
      </div>
      <div *ngIf="userService.hasRole('ROLE_ADMIN')" matTooltip="Přidat jako šablonu" class="btn draganddrop" (click)="pageBlockTemplateService.saveAsTemplateDialog(this)">
        <i class="material-icons icon-remove">add</i>
      </div>
      <div *ngIf="userService.hasRole('ROLE_ADMIN') && pageBlock.webId" matTooltip="Aktualizovat šablonu" class="btn draganddrop" (click)="pageBlockTemplateService.update(this)">
        <i class="material-icons icon-update">update</i>
      </div>

    </div>
  </div>
</app-animation-hider>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-index="index">
    <app-menu-new-row (numColumns)="addRow($event, index)"></app-menu-new-row>
  </ng-template>
</mat-menu>
