<div class="block"
     [attr.id] = "pageBlock.uniqueId"
     [style]="getStyles()"
     [style.background-image]="pageBlock.backgroundImage ? 'url(' + pageBlock.backgroundImage + ')' : ''"
     [style.background-color]="pageBlock.backgroundColor"
     [class.move-menu-hover]="isMoveMenuHover"
     (mouseleave)="hoverOnIndexRow=gridRowService.newRowMenuOpened ? hoverOnIndexRow : null"
>
  <div #video class="video-container" *ngIf="videoUrl" [style.filter]="'grayscale('+pageBlock.grayScale+'%)'" [style.opacity]="pageBlock.opacity/10">
    <div [attr.data-vbg]="videoUrl"></div>
  </div>
  <div class="block-content-rows container" [style.height.px]="!pageBlock.rows.length ? pageBlock.height : null" [nxtSortablejs]="pageBlock.rows" [config]="{group: {name: 'rows', put: ['rows']}, handle: '.move-row', onStart: onDragStart, onEnd: onDragEnd}">
    <div *ngFor="let row of pageBlock.rows; index as i; trackBy: trackByRows">
      <app-animation-hider [show]="(i===hoverOnIndexRow || i===hoverOnIndexRow) && !gridCellItemService.isMenuHover" class="hider-new-row-button">
        <div class="new-row-up" (mouseenter)="gridRowService.addRowHoverIndex=i" (mouseleave)="gridRowService.addRowHoverIndex=null">
          <fa-icon role="button" [icon]="faCirclePlus" [matMenuTriggerFor]="menu" class="new-row-input-button" [matMenuTriggerData]="{index: i}"></fa-icon>
        </div>
      </app-animation-hider>
      <app-grid-row
        (removeRow$)="removeRow(i)"
        class="row" [row]="row"
        (mouseenter)="hoverOnIndexRow=i"
        [class.new-row-hover-up]="gridRowService.addRowHoverIndex == i && hoverOnIndexRow==i"
        [class.new-row-hover-bottom]="gridRowService.addRowHoverIndex == i+1 && hoverOnIndexRow==i"
      >
      </app-grid-row>
      <app-animation-hider [show]="(i===hoverOnIndexRow || i===hoverOnIndexRow) && !gridCellItemService.isMenuHover" class="hider-new-row-button">
        <div class="text-center">
          <div class="links new-row-bottom" (mouseenter)="gridRowService.addRowHoverIndex=i+1" (mouseleave)="gridRowService.addRowHoverIndex=null">
            <fa-icon role="button" [icon]="faCirclePlus" [matMenuTriggerFor]="menu" class="new-row-input-button" [matMenuTriggerData]="{index: i+1}"></fa-icon>
          </div>
        </div>
      </app-animation-hider>
    </div>
    <div class="text-center" *ngIf="!pageBlock.rows.length">
      <div class="new-row-center">
        <fa-icon role="button" [icon]="faCirclePlus" size="1x" [matMenuTriggerFor]="menu" class="new-row-input-button empty" [matMenuTriggerData]="{index: 0}"></fa-icon>
      </div>
    </div>
  </div>
</div>

<app-animation-hider [show]="showMoveIcon" class="" (mouseenter)="isMoveMenuHover=true" (mouseleave)="isMoveMenuHover=false">
  <div class="block-move-menu">
    <div class="frameCover">
      <div title="Blok" class="btn draganddrop block-menu-label">
        <strong>Blok</strong>
      </div>
      <div title="Nastavení" class="btn draganddrop" (click)="openSettings()">
        <i class="material-icons icon-settings">settings</i>
      </div>
      <div title="Přesunout" class="btn draganddrop icon-move-block">
        <i class="material-icons icon-move-block">open_with</i>
      </div>
      <div title="Smazat" class="btn draganddrop" (click)="deleteBlock.emit(true)">
        <i class="material-icons icon-remove">delete</i>
      </div>
      <div title="Přidat jako šablonu" *ngIf="userService.hasRole('ROLE_ADMIN')" class="btn draganddrop" (click)="pageBlockTemplateService.saveAsTemplateDialog(this)">
        <i class="material-icons icon-remove">add</i>
      </div>
      <div title="Aktualizovat šablonu" *ngIf="userService.hasRole('ROLE_ADMIN') && pageBlock.webId && !pageBlock.isShared" class="btn draganddrop" (click)="pageBlockTemplateService.update(this)">
        <i class="material-icons icon-update">update</i>
      </div>
      <div title="{{pageBlock.isShared ? 'Tento blok je sdílen - přeuložit' : 'Vytvořit sdílený blok'}}" class="btn draganddrop" (click)="pageBlockTemplateService.saveAsTemplateDialog(this, true)">
        <i class="material-icons icon-update" [class.active]="pageBlock.isShared">share</i>
      </div>

    </div>
  </div>
</app-animation-hider>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-index="index">
    <app-menu-new-row (numColumns)="addRow($event, index)" [rowIndex]="index"></app-menu-new-row>
  </ng-template>
</mat-menu>
