.block-content{
  /*min-height: 313px;*/
}

.block{
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
}

.block:after {
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: -2px;
  left: 0px;
  content: '';
  color: transparent;
  border-bottom: 8px solid transparent;
  cursor: row-resize;
}

:host-context(.dragged) .block:hover .block-menu{
  opacity: 0;
}

.handle:hover{
  cursor: pointer;
}

.dragging-item-bottom {
  box-sizing: content-box;
  padding-bottom: 31px;
}

@media only screen and (max-width: 700px) {
  .handle {
    display: none;
  }
}

.block-content-rows:not(:has(.row)) {
  height: 65px;
}

.block-row {
  border: 1px solid black;
}

::ng-deep .palette .block-content-rows > .sortable-ghost
{
  width: 100%;
  height: 100px;
  margin-bottom: 1px;
  border: 1px solid black;
  background-color: #f2f2f2;
}

::ng-deep .palette .block-content-rows > .sortable-ghost *
{
  display: none !important;
}

::ng-deep .palette .block-content-rows > .block-row
{
  width: 100%;
}

.block-content-rows.container {
  max-width: 100%;
}

.line:before {
  content: '';
  position: absolute;
  top: 53%;
  left: 0;
  border-top: 1px solid rgba(255,255,255,.25);
  background: black;
  width: 100%;
  transform: translateY(-50%);
}

.line {
  position: relative;
}

.links {
  position: relative;
}

.new-row-input-button {
  background: white;
  z-index: 2;
}

.new-row-input-button.empty {
  position: relative;
  top: -15px;
}

.new-row-up {
  width: 50%;
  position: absolute;
  text-align: left;
  top: -16px;
  height: 10px;
  right: 15px;
}

.new-row-center {
  width: 50%;
  position: absolute;
  text-align: left;
  height: 10px;
  right: 15px;
  top: 50%;
}

.new-row-bottom {
  width: 50%;
  position: absolute;
  text-align: left;
  bottom: 6px;
  height: 10px;
  right: 15px;
}

.new-row-up > button, .new-row-center > button, .new-row-bottom > button {
  width: 30px;
  height: 30px;
  padding: 6px 0;
}

.block-content-rows.container > div {
  position: relative;
}

.add-icon-row-up {
  font-size: 15px;
}

.hider-new-row-button > ::ng-deep .animation-hider-container {
  position: relative;
  z-index: 1;
}

.move-menu-hover {
  outline:  solid 0 transparent;
  transition: none;
  outline-color: red !important;
  outline-width: 2px !important;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0 4px #3498db;
}

.frameCover div.btn {
  background-color: #262b33;
  border-radius: 0;
  border: 1px solid #d6d6d6;
  font-size: 12px;
  height: 25px;
  margin-right: 1px;
  outline: 1px solid #000000;
  position: relative;
  top: 1px;
  width: 25px;
  padding: 0;
}

.frameCover div.btn i {
  color: white;
  display: block;
  font-size: 18px;
  position: relative !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-move-menu {
  width: 164px;
  position: absolute;
  top: -31px;
  left: 0px;
  z-index: 1;
  padding-bottom: 10px;
}

.block-menu-label {
  width: auto !important;
  padding: 3px !important;
  color: white;
}

.text-center {
  height: 100%;
}

.video-container {
  position: absolute;
  height: 100%;
  top: 0px;
  width: 100%;
}

/*.video-container iframe {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  transform: translate(-50%, -50%);*/
/*  pointer-events: none;*/
/*}*/
