<div class="input-container" [ngSwitch]="formData.constructor.name" (mouseenter)="showPanel=true" (mouseleave)="showPanel=false">
  <div *ngSwitchCase="'TextInput'">
    <label for="{{uniqueId}}" class="form-label">{{formData.label}}</label>
    <input type="text" class="form-control" id="{{uniqueId}}" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">{{formData.helpText}}</div>
  </div>
  <app-animation-hider [show]="showPanel">
    <div>
      <div class="input-panel input-panel-top">
        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="text-danger" (click)="deleteInput()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="input-panel input-panel-left">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{position: 'left'}">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="input-panel input-panel-right">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{position: 'right'}">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </app-animation-hider>

</div>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-position="position">
    <button mat-menu-item (click)="addNewInput({position, type: 'TextInput'})">Textové pole</button>
    <button mat-menu-item (click)="addNewInput({position, type: 'Selectbox'})">Výběr</button>
  </ng-template>
</mat-menu>
