@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~material-icons/iconfont/material-icons.css';

td i {
  vertical-align: bottom;
}

td mat-icon {
  vertical-align: bottom;
}

a:not([href]){
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background: #28a745 linear-gradient(180deg,#48b461,#28a745) repeat-x!important;
  color: #fff;
}

.cdk-overlay-container{
  z-index: 2000 !important;
}

.main-header {
  z-index: 1!important;
}

.form-control.ng-invalid {
  border-color: #dc3545;
}

.form-control.ng-invalid~.invalid-feedback {
  display: block;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
}

body {
  font-family: 'Source Sans Pro';
}
