.palette-block > li > img{
  width: 100%;
  height: 100px;
  margin-bottom: 1px;
}

.palette-item
{
  padding: 0px;
}

.palette-block.resized
{
  cursor: row-resize;
}

/deep/.palette .palette-block > .sortable-ghost
{
  width: 100%;
  height: 20px;
  margin-bottom: 1px;
  background-color: black;

}

/deep/.palette .palette-block > .sortable-ghost > img
{
  display: none;
}
