<div class="card card-primary card-outline card-tabs">
  <div class="card-header p-0 pt-1 border-bottom-0">
    <div class="card-header">
      <h3 class="card-title">Stavební prvky</h3>
    </div> <!-- /.card-body -->
<ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile"
       role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Prvky</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home"
       role="tab" aria-controls="custom-content-below-home" aria-selected="true">Bloky</a>
  </li>
</ul>
  </div>

<div class="tab-content" id="custom-content-below-tabContent">
  <div class="tab-pane fade" id="custom-content-below-home" role="tabpanel"
       aria-labelledby="custom-content-below-home-tab">
    <ul
      class="menu-block"
      [sortablejs]="baseBlocks"
      [sortablejsCloneFunction]="clonePageBlock"
      [sortablejsOptions]="{ animation: 150, sort: false, group: {name: 'shared',pull: 'clone',put: false} }">
      <li *ngFor="let item of baseBlocks">
        <img alt="" src="{{item.image}}">
      </li>
    </ul>
  </div>
  <div class="tab-pane fade menu-element d-flex flex-wrap active show" id="custom-content-below-profile" role="tabpanel" aria-labelledby="custom-content-below-profile-tab">

     <div class="grid-row-menu" [sortablejs]="rows" [sortablejsOptions]="{group: {name: 'menu-row', pull: 'clone',put: false}}" [sortablejsCloneFunction]="cloneSortableJsRow">
       <div>
         <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard"></mat-icon><br>
         <span class="text">Nový prostor pro prvky</span>
       </div>
     </div>

    <div (mouseleave)="showMoveIcon = false" (mouseenter)="showMoveIcon = true" class="menu-element-item grid-stack-item-menu" *ngFor="let abstractMenuPluginResolver of menuPluginResolverServices.abstractMenuPluginResolver" [attr.gs-w]="abstractMenuPluginResolver.gridWidth()" [attr.gs-h]="abstractMenuPluginResolver.gridHeight()">
        <mat-icon class="menu-image">{{abstractMenuPluginResolver.getMenuImage()}}</mat-icon><br>
        <span class="text">{{abstractMenuPluginResolver.name}}</span>
        <app-animation-hider [show] = "showMoveIcon">
          <i class="material-icons icon-move" appMenuPluginResolverDirective [abstractMenuPluginResolverMessenger] = "abstractMenuPluginResolver">open_with</i>
        </app-animation-hider>
      </div>
  </div>
</div>
  <div class="lock" (click)="locked = !locked">
    <mat-icon>{{locked ? 'lock' : 'lock_open'}}</mat-icon>
  </div>
</div>
