.menu-block{
  list-style-type: none;
}

.menu-block  img{
  width: 30%;
  margin-bottom: 5px;
}

.menu-block, .menu-element{
  padding: 10px;
}

.menu-element-item{
  padding: 10px;
}

.menu-element-item img{
  width: 30%;
}

.grid-stack-item-menu {
  position: relative;
}

i.icon-move{
  position: absolute;
  top: 10px;
  color: red;
  /*display: none;*/
  left: 11px;
  cursor: move;
}

/*.menu-image:hover + i.icon-move{*/
/*  display: block;*/
/*}*/

/*i.icon-move:hover{*/
/*  display: block;*/
/*}*/

