<div class="card card-primary card-outline card-tabs">
  <div class="card-header p-0 pt-1 border-bottom-0">
    <div class="card-header">
      <h3 class="card-title">Stavební prvky</h3>
    </div> <!-- /.card-body -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Prvky</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Bloky</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="menu-plugin-container d-flex flex-md-row flex-wrap"
             [nxtSortablejs]="[1]"
             [config]="{group: {name: 'menu-plugin', pull: 'clone',put: false}, handle: '.icon-move', onStart: onDragStart, onEnd: onDragEnd, sort: false}"
             [cloneFunction]="createPluginConfig"
        >
          <div class="menu-element-item grid-stack-item-menu"
               [nxtSortablejs]="[1]"
               [config]="{group: {name: 'menu-row', pull: 'clone',put: false}, onStart: onDragStart, onEnd: onDragEnd, handle: '.icon-move-grid'}"
               [cloneFunction]="cloneSortableJsRow"
               (mouseleave)="showMoveIcon = false"
               (mouseenter)="showMoveIcon = true"
          >
            <div class="menu-element-cells">
              <mat-icon class="material-icons-outlined" aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard"></mat-icon><br>
              <span class="text">Stavební buňky</span>
              <app-animation-hider [show] = "showMoveIcon">
                <i class="material-icons icon-move-grid">open_with</i>
              </app-animation-hider>
            </div>
          </div>
          <div
            (mouseleave)="showMoveIcon = false"
            (mouseenter)="showMoveIcon = true"
            class="menu-element-item grid-stack-item-menu"
            *ngFor="let abstractMenuPluginResolver of menuPluginResolverServices.abstractMenuPluginResolver"
          >
            <mat-icon class="menu-image material-icons-outlined">{{abstractMenuPluginResolver.getMenuImage()}}</mat-icon><br>
            <span class="text">{{abstractMenuPluginResolver.name}}</span>
            <app-animation-hider [show] = "showMoveIcon">
              <i class="material-icons icon-move" appMenuPluginResolverDirective [abstractMenuPluginResolverMessenger] = "abstractMenuPluginResolver">open_with</i>
            </app-animation-hider>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="d-flex flex-wrap container">
          <button type="button" (click)="pageBlockTemplateService.selectedCategory = ''" [class]="pageBlockTemplateService.selectedCategory == '' ? 'btn-secondary' : 'btn-outline-secondary'" class="btn p-1 m-1">Všechny</button>
          <button *ngFor="let category of pageBlockTemplateService.templateBlockCategory" (click)="pageBlockTemplateService.selectedCategory = category" [class]="pageBlockTemplateService.selectedCategory == category ? 'btn-secondary' : 'btn-outline-secondary'" type="button" class="btn p-1 m-1">{{category}}</button>
        </div>
        <div
          class="menu-block"
          [nxtSortablejs]="pageBlockTemplateService.blockTemplates"
          [cloneFunction]="clonePageBlock"
          [config]="{ animation: 150, sort: false, group: {name: 'block',pull: 'clone',put: false}, handle: '.icon-move-block', onStart: onDragStartBlock, onEnd: onDragEndBlock }"
          (mouseleave)="showMoveIcon = false"
          (mouseenter)="showMoveIcon = true"
        >
          <div *ngFor="let item of pageBlockTemplateService.blockTemplates; let last = last" class="menu-element-block grid-stack-item-menu">
            <ng-container *ngIf="item.imagePath">
              <img alt="" src="{{item.imagePath}}">
              <app-animation-hider [show] = "showMoveIcon">
                <i class="material-icons icon-move-block">open_with</i>
                <i class="material-icons icon-delete" *ngIf="webDetailResolverService.isTemplateWeb()" (click)="pageBlockTemplateService.deleteTemplateBlock(item)">delete</i>
              </app-animation-hider>
            </ng-container>
            <ng-container *ngIf="last && !pageBlockTemplateService.selectedCategory">
              <div class="empty-block-template">
                <app-animation-hider [show] = "showMoveIcon">
                  <i class="material-icons icon-move-block">open_with</i>
                </app-animation-hider>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lock" (click)="locked = !locked">
    <mat-icon>{{locked ? 'lock' : 'lock_open'}}</mat-icon>
  </div>
</div>
