.menu-block{
  list-style-type: none;
  position: relative;
}

.menu-block  img{
  width: 30%;
  margin-bottom: 5px;
}

.menu-block, .menu-element{
  padding: 10px;
}

.menu-element-item:not(.ui-draggable-dragging){
  padding: 4px;
  width: 47%;
  text-align: center;
  font-size: 0.9rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 3px;
  height: 55px;
}

.menu-element-item:not(.ui-draggable-dragging):hover {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.menu-element-cells:not(.ui-draggable-dragging){
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.menu-element-item img{
  width: 30%;
}

.menu-element-block {
  max-height: 150px;
  overflow: overlay;
}

.menu-element-block:not(.ui-draggable-dragging){
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 13px;
}

.menu-element-block img{
  width: 100%;
}

.menu-element-block:hover:not(.ui-draggable-dragging) {
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.grid-stack-item-menu {
  position: relative;
}

i.icon-move, i.icon-move-grid{
  position: absolute;
  top: 2px;
  color: black;
  /*display: none;*/
  left: 2px;
  cursor: move;
  font-size: 17px !important;
}

.grid-row-menu {
  position: relative;
}

.lock {
  position: absolute;
  right: 0px;
  top: 59px;
  background-color: #fff;
  padding: 0px;
  cursor: pointer;
  z-index: 1
}

.grid-row-menu {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.menu-plugin-container {
  position: relative;
  width: 100%;
}

:host {
  position: sticky;
  top: 16px;
}

i.icon-move-block, i.icon-delete, i.icon-shared{
  float: left;
  cursor: move;
  font-size: 17px !important;
}

i.icon-delete {
  cursor: pointer;
  float: right;
}

i.icon-shared {
  float: right;
  cursor: default;
}

::ng-deep .menu-element-block .empty-block-template {
  height: 63px;
  width: 100%;
}

.menu-bloc-icons {
  top: 0px;
  left: 0px;
  width: 100%;
}

/*mat-icon {*/
/*  color: white;*/
/*  mix-blend-mode: difference;*/
/*}*/
