<div class="card card-primary card-outline">
  <div class="card-header">
    <h3 class="card-title">Editační plátno</h3>
  </div> <!-- /.card-body -->
  <div class="card-body palette">
    <app-palette-item-quick-menu></app-palette-item-quick-menu>

    <ul
      class="palette-block list-group listing-area clearfix"
      [class.dragged]="isDraggedContent"
      [class.resized]="isResized"
      appSmartPageScroll
      #palette
      [sortablejs]="baseBlocks"
      [sortablejsOptions]="{ group: 'shared', scroll: false, handle: '.handle' }">
      <li (dragstart)="blockDragStart()" (dragend)="blockDragStop()" class="list-group-item palette-item" *ngFor="let item of baseBlocks">
        <app-palette-block [pageBlock]="item" (resized)="isResized=$event"></app-palette-block>
      </li>
    </ul>
  </div>
</div>
