<div class="cell-content"
     [sortablejs]="cell.items"
     [sortablejsOptions]="{group: {name: 'cell', pull: true, put: ['menu-row', 'menu-plugin', 'cell']}, onStart: onDragStart, onEnd: onDragEnd,
     handle: '.icon-move-cell-item'}"
>
  <app-grid-cell-item [gridCellItem]="item" *ngFor="let item of cell.items"></app-grid-cell-item>
</div>
<div *ngIf="!isLast" class="cell-delimiter" (mousedown)="onMouseDownResizeDelimiter($event);">
  <div class="delimiter-line"></div>
</div>
<app-animation-hider [show] = "isMouseEnterRow">
<mat-icon class="add-cell-icon-left add-cell-icon" fontIcon="add" (click)="addCell$.emit('left')"></mat-icon>
<mat-icon class="del-cell-icon-left del-cell-icon" fontIcon="remove" (click)="removeCell$.emit('left')"></mat-icon>
<mat-icon class="add-cell-icon-right add-cell-icon" fontIcon="add" (click)="addCell$.emit('right')"></mat-icon>
<mat-icon class="del-cell-icon-right del-cell-icon" fontIcon="remove" (click)="removeCell$.emit('right')"></mat-icon>
</app-animation-hider>
