<div class="text-center line" *ngIf="isNewRowInput">
  <div class="links">
    <button mat-icon-button class="new-row-input-button" [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{position: ''}">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="!isNewRowInput" class="input-container" (mouseenter)="showPanel=true" (mouseleave)="showPanel=false">
  <div class="input-container position-{{formData.position}}" [ngSwitch]="formData.constructor.name">
    <div *ngSwitchCase="'TextInput'">
      <label for="{{uniqueId}}" class="form-label">{{formData.label}}</label>
      <input type="text" class="form-control" id="{{uniqueId}}">
      <div class="form-text">{{formData.helpText}}</div>
    </div>
    <div *ngSwitchCase="'Button'">
      <button type="submit" class="btn btn-primary">{{formData.label}}</button>
    </div>
    <div *ngSwitchCase="'Textarea'">
      <label for="{{uniqueId}}" class="form-label">{{formData.label}}</label>
      <textarea class="form-control textarea-input" id="{{uniqueId}}" rows="{{formData.rows}}"></textarea>
      <div class="form-text">{{formData.helpText}}</div>
    </div>
    <div *ngSwitchCase="'Selectbox'">
      <label for="{{uniqueId}}" class="form-label">{{formData.label}}</label>
      <select class="form-select" aria-label="Default select example" id="{{uniqueId}}">
        <option *ngFor="let option of formData.options"
                [value]="option">
          {{option}}
        </option>
      </select>
      <div class="form-text">{{formData.helpText}}</div>
    </div>
    <div class="checkbox" *ngSwitchCase="'Checkbox'">
      <div class="form-check" *ngFor="let option of formData.options">
        <label class="form-check-label" for="{{option.option}}">{{option.option}}</label>
        <input class="form-check-input" type="checkbox" id="{{option.option}}" name="{{option.option}}">
      </div>
      <div class="form-text">{{formData.helpText}}</div>
    </div>
  </div>

  <app-animation-hider *ngIf="isAdmin" [show]="showPanel">
    <div>
      <div class="input-panel input-panel-top">
          <mat-icon role="button" (click)="settings()">settings</mat-icon>
          <mat-icon class="text-danger" role="button" (click)="deleteInput()">delete</mat-icon>
      </div>
      <div class="input-panel input-panel-left">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{position: 'left'}">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="input-panel input-panel-right">
        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{position: 'right'}">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </app-animation-hider>

</div>

<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-position="position">
    <button mat-menu-item (click)="addNewInput({position, type: 'TextInput'})">Textové pole</button>
    <button mat-menu-item (click)="addNewInput({position, type: 'Selectbox'})">Výběr</button>
    <button mat-menu-item (click)="addNewInput({position, type: 'Textarea'})">Textové pole velké</button>
    <button mat-menu-item (click)="addNewInput({position, type: 'Checkbox'})">Možnosti zaškrtávací</button>
    <button mat-menu-item (click)="addNewInput({position, type: 'Button'})">Tlačítko pro odeslání formuláře</button>
  </ng-template>
</mat-menu>
