.input-panel-left{
  position: absolute;
  top: 29%;
  left: -30px;
  color: #00a87d;
}

.input-panel-right{
  position: absolute;
  top: 29%;
  right: -30px;
  color: #00a87d;
}

.input-panel-top{
  position: absolute;
  top: -20%;
  right: 47%;
}

.input-panel-top button {
  width: 24px;
  height: 24px;
  padding: 0px;
}

.input-container {
  position: relative;
}

.line:before {
  content: '';
  position: absolute;
  top: 53%;
  left: 0;
  border-top: 1px solid rgba(255,255,255,.25);
  background: black;
  width: 100%;
  transform: translateY(-50%);
}

.line {
  position: relative;
}

.links {
  position: relative;
}

.new-row-input-button {
  background: white;
}

.textarea-input {
  resize: none;
}

.position-right {
  text-align: right;
}

.position-center {
  text-align: center;
}


.checkbox {
  display: inline-block;
}

.position-right .form-check {
  padding-left: 0 !important;
}

.position-right .form-check-input {
  float: right !important;
  margin-left: 0.5em !important;
}
