    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <ul *ngIf="adminAble" class="list-unstyled components mb-5">
          <li [class]="{active: selectedComponent === setting.component}" *ngFor="let setting of adminAble.adminComponentsClass();">
            <a href="#" (click)="showContent(setting.component);$event.preventDefault()">
              <span class="fa fa-chevron-right mr-3"></span>{{setting.label}}</a>
          </li>
        </ul>
      </nav>

      <div id="content" class="p-4 p-md-5 pt-5">
        <div class="content-block">
          <ng-container #content1></ng-container>
        </div>
      </div>
    </div>









