<div class="card card-primary card-outline card-tabs">
  <div class="card-header p-0 pt-1 border-bottom-0">
    <div class="card-header">
      <h3 class="card-title">Stavební prvky</h3>
    </div> <!-- /.card-body -->
<ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill" href="#custom-content-below-home"
       role="tab" aria-controls="custom-content-below-home" aria-selected="true">Bloky</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill" href="#custom-content-below-profile"
       role="tab" aria-controls="custom-content-below-profile" aria-selected="false">Prvky</a>
  </li>
</ul>
  </div>

<div class="tab-content" id="custom-content-below-tabContent">
  <div class="tab-pane fade active show" id="custom-content-below-home" role="tabpanel"
       aria-labelledby="custom-content-below-home-tab">
    <ul
      class="menu-block"
      [sortablejs]="baseBlocks"
      [sortablejsOptions]="{ animation: 150, sort: false, group: {name: 'shared',pull: 'clone',put: false} }">
      <li *ngFor="let item of baseBlocks">
        <img alt="" src="{{item.image}}">

      </li>
    </ul>
  </div>
  <div class="tab-pane fade menu-element" id="custom-content-below-profile" role="tabpanel"
       aria-labelledby="custom-content-below-profile-tab">
    <div class="menu-element-item grid-stack-item-menu" *ngFor="let menuPluginResolver of abstractMenuPluginResolver" data-gs-width="1" data-gs-height="1">
      <img appMenuPluginResolver [abstractMenuPluginResolver] = "menuPluginResolver" [src]="menuPluginResolver.getMenuImage()">
    </div>
  </div>
</div>
</div>
