<div class="card card-outline">
  <div class="card-header">
    <div class="card-title">{{title.getTitle()}}</div>
  </div> <!-- /.card-body -->
  <div class="card-body">
    <form [formGroup]="createWebForm" (ngSubmit)="onSubmit()">
      <app-global-form-error></app-global-form-error>
      <label for="webName" class="form-label">Název webu</label>
      <input id="webName" appFormError type="text" class="form-control mb-3" placeholder="Název webu" formControlName="name">
      <ng-container *ngIf="createWebForm.contains('isTemplate')">
        <div class="row">
          <div class="col-md-3">
            <div class="form-check">
              <input class="form-check-input" id="help-text1" type="checkbox" formControlName="isTemplate">
              <label class="form-check-label" for="help-text1">Web bude sloužit jako šablona</label>
            </div>
          </div>
          <div class="col-md-6">
              <label for="formFile" class="form-label">Obrázek šablony</label>
              <input (change)="createWebForm.patchValue({file: $any($event.target).files[0]})" class="form-control" type="file" id="formFile">
              @if(webDetail.imagePath) {
                <img width="150" class="img-thumbnail" src="{{webDetail.imagePath}}">
              }
          </div>
        </div>
      </ng-container>
      <label class="form-label">Doména:</label>
      <div formArrayName="domains">
        <div *ngFor="let domain of domains.controls; let i=index" [formGroupName]="i" class="mb-2">
          <div class="input-group m" appFormError>
            <input (input)="refreshWebInput($event, i)" placeholder="Např: domena.cz" type="text" formControlName="name" class="form-control">
            <fa-icon [matTooltip]="'Odebrat doménu'" role="button" (click)="webFormService.removeDomain(createWebForm, i)" [icon]="faMinus" class="input-group-text"></fa-icon>
          </div>
        </div>
        <div>
          <button (click)="webFormService.addDomain(createWebForm)" type="button" class="btn btn-light">
            <fa-icon [matTooltip]="'Přidat doménu'" [icon]="faPlus" class=""></fa-icon>
          </button>
        </div>
      </div>

      <div class="container-fluid mt-3">
        <div class="d-flex justify-content-end">
          <a [routerLink]="route.snapshot.url[0].path === 'create' ? ['../list'] : ['../../list']" [replaceUrl]="true" mat-button><<< Zpět na seznam webů</a>
          <button type="submit" mat-raised-button color="primary" class="ml-2"><i class="material-icons">add</i>Uložit
          </button>
        </div>
      </div>
    </form>
  </div><!-- /.card-body -->
</div>



